{% load static %}
{% block content %}
<!-- Log in page-->
<html lang="en" class="bg-img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} TasteSeeker {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/tasteseeker/static/css/layout.css">
        <div style="text-align: center"><img src="{% static 'Images/drinks2.jpg' %}" width="500" /></div>
    </head>
    <body>

        <div class="text-center">

            {% block header %}<h1>Welcome to TasteSeeker! </h1><br>{% endblock %}

            <ul class="topnav">
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">Login</a></li>

            </ul>
            <br>
          
            </div>
        <div class="page_container">
            
            {% endblock %}
        </div>
            {% include "seeker_footer.html" %}


    </body>
</html>

