
<ul class="topnav">
    <li><a href="{% url 'seeker_home' %}">Home</a></li>
    
    <li><a href="{% url 'seeker_createentry' %}">Create Entry</a></li>
    <li><a href="{% url 'seeker_drink_list' %}">View All Cocktails</a></li>
    <li><a href="{% url 'AboutUs' %}">AboutUs</a></li>
    
    <li><a href="accounts/logout">Logout</a></li>
    {% if user.is_authenticated %}
    <li>Hello, {{user.first_name}}</li>
    {% else %}
    <li><a href="accounts/register">Register</a></li>
    <li><a href="accounts/login">Login</a></li>
    {% endif %}




</ul>