{% load static %}


<html lang="en" class="bg-img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} TasteSeeker {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
        <div style="text-align: center"><img src="{% static 'Images/drinks2.jpg' %}" width="500" /></div>
    </head>
    <body>

        <div class="text-center">

        <!-- Add a template to the href so the button works-->

    </div>
        <div class="page_container">
            {% include "tasteseeker_navbar.html" %}

            <header class="header-title">
                <h1>{% block header %}{% endblock %}</h1>
            </header>


            {% block content %}
            {% endblock %}
        </div>
            {% include "tasteseeker_footer.html" %}


    </body>
</html>