
@font-face {
  font-family:'RubikDoodle';
  src: url('/tasteseeker/static/css/RubikDoodleShadow-Regular.ttf');
}

h1  {
    font-family: RubikDoodle;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    color: rgb(232, 82, 82);
    }


h3 {
    font-family: RubikDoodle;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    }

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    }

p {
    font-family: RubikDoodle;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color:#d64949

    }



body {
    background-image: linear-gradient(to top, #f6ebf1 0%, #ece0e0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#block-footer a {
    color: #fff;
    text-shadow: 0 -1px 0;
    text-decoration: none;
    }

ul {
  font-family: RubikDoodle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d64949;
  color: white;

}

li {
  float: left;
  font-family: RubikDoodle;
  font-size: 20px;
  color:white;

}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  #ece0e0;
}

ul a:hover {
    color:#d64949;
}

.text {
    color:white;
}

