<ul class="topnav">
  <li><a href="{% url 'tasteseeker:home' %}">Home</a></li>
  <li><a href="{% url 'tasteseeker:seeker_createentry' %}">Create Entry</a></li>
  <li><a href="{% url 'tasteseeker:seeker_drink_list' %}">View All Cocktails</a></li>
  <li><a href="{% url 'tasteseeker:AboutUs' %}">About Us</a></li>

  {% if user.is_authenticated %}
    <li><a href="{% url 'tasteseeker:logout' %}">Logout</a></li>
    <li>Hello, {{ user.first_name }}</li>
  {% else %}
    <li><a href="{% url 'tasteseeker:register' %}">Register</a></li>
    <li><a href="{% url 'tasteseeker:login' %}">Login</a></li>
  {% endif %}
</ul>
